header {
    border: 1px solid darkolivegreen;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: darkblue;
}

header p {
    font-style: italic;
}

header img {
    width: 40%;
    border: 2px solid wheat;
    border-radius: 50%;
    box-shadow: 2px 2px 10px gold;
}

headaer img:hover {
    transform: scale(.9);
    transition: all .3 ease-in-out;
}

header button {
    display: block;
    margin: 30px auto;
    padding: 12px 30px;
    background-color: bisque;
  color: black;
  border: none;
  border-radius: 30px 0;
}

header button:hover {
    background-color: aquamarine;
    color: blue;
    border: 1px solid darkkhaki;
    transform: scale(.9);
    transition: all .3 ease-in-out;
}

.about {
    text-align: center;
    margin: 48px auto;
}
.about h2 {
    color: blueviolet;
}
.project {
    width: 90%;
    margin: 20 px auto;
    border: 1px solid blueviolet;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.project img {
    width: 40%;
}
.project img:hover {
    transform: scale(.8);
    transition: all.3s ease-in-out;
    box-shadow: 2px 2px 12px #AEEA94;
}
footer {
    margin-top: 40px;
    text-align: center;
    padding: 30px;
    background-color: #AAB99A;
    color: burlywood;
}